{% extends 'base.html' %}

{% block title %} {{current_rubric.name}} - Anschlagtafel {% endblock %}

{% block content %}
        <div class="col-lg-4 col-md-6">
                <h2>{{bb.title}}</h2>
                <p>{{bb.content|linebreaks}}</p>
                <h2>Preis: {{bb.price}} KZT</h2>
                <p>{{bb.published|date:"d.m.Y H:i:s"}}</p>

                <div class="portfolio-item">
                  <img src="{{ MEDIA_URL }}{{bb.image.url}}" class="img-fluid" alt="">
                  <div class="portfolio-info">
                      <h3><a href="{{ MEDIA_URL }}{{bb.image.url}}" data-gall="portfolioGallery" class="venobox" title="ZOOM">ZOOM</a></h3>
                      <a href="{{ MEDIA_URL }}{{bb.image.url}}" data-gall="portfolioGallery" class="venobox" title="ZOOM"><i class="icofont-plus"></i></a>
                  </div>
                </div>
        </div>
{% endblock %}
